<!-- Bootstrap Footer -->
<footer class="bg-secondary text-center text-lg-start mt-auto">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5>{{ site.title | escape }}</h5>
        <ul class="list-unstyled mb-0">
          {%- if site.email -%}
          <li>
            <a class="" href="mailto:{{ site.email }}">{{ site.email }}</a>
          </li>
          {%- endif -%}
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <div class="container d-flex flex-column gap-0 row-gap-3">
          <a class="icon-link icon-link-hover me-auto" href="https://github.com/sbacky/" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-github fs-3 me-1"></i> <!-- Bootstrap Icon for GitHub -->
            GitHub
          </a>
          <a class="icon-link icon-link-hover me-auto" href="https://www.linkedin.com/in/neil-crum-0317a6199/" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-linkedin fs-3 me-1"></i> <!-- Bootstrap Icon for LinkedIn -->
            LinkedIn
          </a>
        </div>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <p>{{- site.description | escape -}}</p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Grid container -->
</footer>
