<!-- Bootstrap Navbar -->
<nav class="navbar navbar-expand-lg bg-secondary">
  <div class="container-sm">
    <!-- Logo -->
    <a class="navbar-brand fs-4" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    <!-- Collapsable menu button / icon -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        {%- assign default_paths = site.pages | map: "path" -%}
        {%- assign page_paths = site.header_pages | default: default_paths -%}
        {%- for path in page_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title -%}
          <li class="nav-item">
            {%- if page.title == my_page.title -%}
              <a class="nav-link active" aria-current="page" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            {%- else -%}
              <a class="nav-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            {%- endif -%}
          </li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
      <div class="vr mx-3 d-none d-lg-block"></div>
      <ul class="navbar-nav d-none d-lg-flex">
        <li class="nav-item">
          <a class="nav-link link-primary" href="https://github.com/sbacky/" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-github fs-3"></i> <!-- Bootstrap Icon for GitHub -->
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-primary" href="https://www.linkedin.com/in/neil-crum-0317a6199/" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-linkedin fs-3"></i> <!-- Bootstrap Icon for LinkedIn -->
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
