// _sass/custom/color-overrides.scss
$purple: #6A0DAD;
$pink: #FFC0CB;
$turquoise: #40E0D0;
$coral: #FF6F61;
$lime-green: #32CD32;

$primary: $purple;
$secondary: $pink;
$success: $lime-green;
$info: $turquoise;
$warning: $coral;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning
);

$navbar-hover-color: $primary;
$navbar-hover-underline: underline;
$navbar-active-color: $primary;

.navbar-nav .nav-link {
    &:hover {
        color: $navbar-hover-color !important;
        text-decoration: $navbar-hover-underline !important;
        text-decoration-thickness: 3px; // Adjust thickness
        text-underline-offset: 10px; // Adjust gap
        font-weight: 600;
    }
    &.active {
        color: $navbar-active-color !important;
        font-weight: 600;
    }
};

.tooltip-info {
    --bs-tooltip-bg: var(--bs-info);
    --bs-tooltip-color: var(--bs-white);
};