.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
  
  .project {
    width: calc(25% - 10px); /* Adjust the width and margin as needed */
    margin: 0;
    padding: 10px;
    text-align: center;
  }
  
  .project img {
    max-width: 100%;
  }
  