<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body class="d-flex flex-column min-vh-100">

    {%- include header.html -%}

    <main class="container-xl" aria-label="Content">
      {{ content }}
    </main>

    {%- include footer.html -%}

    <script src="{{ '/assets/js/bootstrap.bundle.min.js' | relative_url }}"></script>
    <script src="https://cdn.auth0.com/js/auth0-spa-js/2.0/auth0-spa-js.production.js"></script>
    <script type="module" src="{{ '/assets/js/auth0.js' | relative_url }}"></script>
    {%- if page.title == 'Home' -%}
      <script src="{{ '/assets/js/home.js' | relative_url }}"></script>
    {%- endif -%}
    {%- if page.title == 'Album' -%}
      <script src="{{ '/assets/js/album.js' | relative_url }}"></script>
    {%- endif -%}
    {%- if page.title == 'Shipping Solutions' -%}
      <script src="{{ '/assets/js/shipping.js' | relative_url }}"></script>
    {%- endif -%}
    {%- if page.categories contains 'Wishlist' -%}
      <script type="module" src="{{ 'assets/js/wishlist.js' | relative_url }}"></script>
    {%- endif -%}

  </body>

</html>